section {
    padding: 50px 20px;
    text-align: left;
    position: relative;
    border-radius: 10px; 
    margin: 0 auto 30px; 
    
    background-color:#f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
    padding: 5px;
}

.navbar-brand {
    display: inline-block;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 10px;
    text-align: justify;
    padding: 5px;
}

li {
    font-size: 13px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 10px;
    text-align: justify; 
    background-color: #f9f9f9;
    border-radius: 10px; 
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    list-style: none;
    margin-bottom: 20px; 
}

li:hover {
    transform: translateY(-5px);
}

section ul {
    text-align: center; 
    padding: 0; 
    display: flex; 
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
}

.navbar {
    background-color: #f8f9fa; 
    padding: 15px 0; 
}

.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333; 
    font-weight: bold;
}

.logo {
    max-width: 40px;
    margin-right: 10px; 
}

.navbar-toggler {
    border: none;
    background-color: transparent;
}

.navbar-toggler-icon {
    width: 1.5em;
    height: 1.5em;
}

.navbar-toggler-icon::after,
.navbar-toggler-icon::before {
    background-color: #333; 
}

.navbar-nav {
    text-align: center; 
}

.navbar-nav .nav-item {
    margin: 10px 0; 
}

.navbar-nav .nav-link {
    color: #333; 
    text-decoration: none;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: #007bff; 
}

@media (min-width: 768px) {
    .service-list {
        display: grid; 
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
        gap: 5px; 
        padding: 10%;
    }
    li {
        margin: 10px;
    }
    .logo-title {
        display: block; 
        margin: 50px;
        
    }

    .service-list li {
        border-radius: 10px;
        background-color: #f9f9f9;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
        list-style: none;
    }

    footer {
        text-align: center;
        padding: 40px 0;
        background-color: #f9f9f9;
    }

    footer p {
        margin: 0; 
        font-size: 18px;
        line-height: 1.5;
        padding: 1%;
        color: #777; 
    }
    .navbar-collapse {
        justify-content: flex-end; 
    }
}

@media (max-width: 1100px) {
    section {
        padding: 50px 10px;
        max-width: 800px; 
    }
    .logo-title {
        display: none; 
    }
    .navbar-nav a {
        padding: 10px 0;
        display: block;
    }
    section ul {
        display: flex; 
        flex-direction: column; 
        align-items: stretch; 
        padding: 50px 10px;
    }
    li {
        margin-bottom: 10px;
        padding: 10px;
        margin-left: 0; 
        margin-right: 0;
    }
    nav {
        text-align: center;
    }
    .navbar-brand {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
    .navbar-nav {
        flex-direction: column;
    }
    .navbar-nav a {
        padding: 10px 0;
        display: block;
    }
    img{
        max-width: 100%; 
        max-height: 100%; 
        display: block; 
        margin: auto; 
        }
}
